/*******
Layouts */

body{
   font-family: "Trebuchet MS", Helveyica, sans-serif;
   background: #f2f2f2;
}

#conteiner{
   width: 85%;/*720px*/
   margin: 0 auto; /*auto para as lateirais para centralizar*/
   background: #fff;
   min-width: 720px;/*conteúdo não vai sair das areas*/
   max-width: 1280px;/*max de tamanho que vai estender*/
}

#marca{
   width: 100%;
   height: 100px;
   background: #9E9E9E;
   text-align: center;
   line-height: 100px;
}

#conteudo{
   width: 75%;/*520px*/
   float: right;
}

#navegacao{
   width: 23%;/*180*/
   float: left;
   padding-top: 20px;
   padding-bottom: 20px;
   background: #d1d1d1;
}

#conteudo-principal{
   width: 63%;/*320px*/
   float: left;
}

#conteudo-secundario{
   width: 34%;/*180*/
   float: right;
   background: #d1d1d1;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p{
   padding-left: 20px;
   padding-right: 20px;
}

#navegacao ul {
   list-style: none; /*sem os pontos*/
}

#navegacao ul a {
   text-decoration: none; /*sem as linhas*/
}

#rodape {
   clear: both; /*fica pra baixo do float*/
   background: #c4c4c4;
   padding: 5px;
}

